.myTab {
		width: 100%;
		text-align: center;
		border: none;
		border-collapse: collapse;
		border-radius: 10px;
		padding: 5px;
		box-shadow: 3px 3px 5px 0 #93c4c4 inset, -3px -3px 5px 0 #8a8a8a inset;
}
.myTab th, .myTab td {
		border: 1px solid #949494;
		padding: 10px 5px;
}


.try {
		border: none;
		border-radius: 100%;
		outline: 0;
		box-shadow: 3px 3px 5px 0 #2c9d27 inset, -3px -3px 5px 0 #8a8a8a inset, 0 0 5px 2px gray;
		position: fixed;
		left: 5px;
		bottom: 10vh;
		transition: 0.3s;
		z-index: 999;
		height: 50px;
		width: 50px;
		background: url("editor.png") no-repeat;
		background-size: cover;
		background-position: center;
}
.try:hover {
		box-shadow: -3px -3px 5px 0 #2c9d27 inset, 3px 3px 5px 0 #8a8a8a inset;
		
}

.edit {
		display: none;
		background: #d8d8d8;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		box-shadow: 0 -3px 5px 0 #898989;
		animation: edit 0.3s linear;
		z-index: 998;
}
@keyframes edit {
		0% {transform: translateY(100%);}
		100%{transform: translateY(0%);}
}
#code {
		display: block;
		height: 25vh;
		width: 100%;
		padding: 20px 10px;
		padding-top: 30px;
		outline: 0;
		resize: none;
		border: none;
		border-top: 3px solid #ce8856;
		border-bottom: 2px solid #aa477e;
		white-space: pre;
}
#view {
		background: #fff;
		padding: 10px;
		height: 25vh;
		overflow: scroll;
		box-shadow: 3px 3px 5px 0 #597 inset, -3px -3px 5px 0 #8a8a8a inset;
}
.cont {
		display: flex;
		position: absolute;
		top: 3px;
		right: 0;
		background: teal;
		border-radius: 3px;
		box-shadow: 0 1px 4px grey;
}
#run, #clear {
		padding: 5px 10px;
		border: none;
		outline: 0;
		border-radius: 3px;
		margin: 0 2px;
		font-size: 16px;
		color: #fff;
}
#run {background: #006601;}
#clear {background: #790500;}
#run:hover {color: green; background: #ccc;} 
#clear:hover {color: red; background: #ccc;}
.editor > input {display: none;}
.editor > input:checked ~ .try {bottom: calc(50vh + 50px);}
.editor > input:checked ~ .edit {display: block;}
