* {
			margin: 0;
}
body {
			background:conic-gradient(from 90deg at 50% 50%, #889B06 0%, #A73BFF 7%, #2196F3 13%, #002ED4 19%, #5F9918 25%, #373F6C 32%, #992A04 38%, #B0275F 45%, #147F84 50%, #21F325 57%, #EE07FF 63%, #FFEB3B 75%, #03A9F4 82%, #3FA8B5 88%, #EE82EE 100%) no-repeat 100% 100%;
}
#player {
			padding: 20px;
			background: linear-gradient(to bottom, #005249, #696969);
			height: 700px;
			max-width: 400px;
			margin: auto;
			position: relative;
			border-radius: 10px;
}
.header {
			color: #fff;
			border: 1px solid goldenrod;
			box-shadow: 0 0 10px 3px #b5862d;
}
.header img {
			height: 20px;
			width: 20px;
			padding: 10px;
			border: 1px solid red;
			vertical-align: -18px;
}
.header h4 {
			display: inline;
			margin-left: 30px;
}
#full {
			display: none;
			height: 70px;
			width: 70px;
			border-radius: 100%;
			position: absolute;
			right: 0;
			top: 0;
}
.img-song {margin: 110px 0;}
.img-song img {
			display: block;
			height: 300px;
			width: 200px;
			margin: auto;
			padding: 30px;
			border: 3px solid teal;
			outline: 3px solid goldenrod;
			background:conic-gradient(from 90deg at 50% 50%, #889B06 0%, #A73BFF 7%, #2196F3 13%, #002ED4 19%, #5F9918 25%, #373F6C 32%, #992A04 38%, #B0275F 45%, #147F84 50%, #21F325 57%, #EE07FF 63%, #FFEB3B 75%, #03A9F4 82%, #3FA8B5 88%, #EE82EE 100%) no-repeat 100% 100%;
			box-shadow: 0 0 8px 9px lime;
			border-radius: 100%;
			height: 200px;
}
@keyframes playing {
			0% {transform: rotate(-360deg);}
			100% {transform: rotate(0deg);}
}
@keyframes imgOfSong {
			0% {transform: scale(1.2);}
			50% {transform: rotate(180deg);}
			100% {transform: none;}
}
.song-title {color: #fff;}
.song-title h1 {
			margin: 0;
			font-family: serif;
}
.song-title h4 {
			margin: 0;
			margin-top: 5px;
			font-family: Times new roman;
}


/*
------>>
 Audio 
<<------
*/
.audio input {
			display: inline-block;
			width: 100%;
			margin-top: 20px;
}
#time {
			display: flex;
			justify-content: space-between;
			color: #fff;
			margin-top: 6px;
			font-size: 14px;
}
.controls {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 10px 0;
			height: 55px;
			z-index: 1;
}
.controls img {
			height: 30px;
			width: 30px;
}
.controls img {
			border-radius: 100%;
			transition: 0.3s;
}
.controls img:active, .header img:active, #full:active {
			box-shadow: 0 0 9px 3px greenyellow;
}
.love {filter: grayscale(100%);}
.loved {filter: grayscale(0%);}
.shuffle {filter: brightness(0)}
.shuffled {filter: brightness(100%);}

#playBtn {
			font-size: 50px;
			border-radius: 100%;
			background: #ff9800;
			overflow: hidden;
			box-shadow: 0 0 20px 4px #d2d2d2;
			transition: 0.3s all;
			border: 5px solid transparent;
			margin: -50px;
}
#playBtn:active {border: 5px solid teal;}

#progressBar {
			height: 3px;
			accent-color: goldenrod;
			cursor: none;
}
#progressBar::-webkit-slider-thumb {
			-webkit-appearance: none;
			border-radius: 100%;
			outline: 2px solid goldenrod;
			outline-offset: 2px;
}

#playSpeed {
			display: flex;
			width: 250px;
			color: yellow;
			font-weight: bold;
			justify-content: space-between;
			align-items: center;
			position: absolute;
			bottom: 200px;
}
#sp {
			white-space: nowrap; 
			font-size: 12px;
}
#speed {
			accent-color: brown;
			height: 2px;
			width: 180px;
			cursor: none;
			margin: 0 5px;
}

#soundOfSong {
			position: absolute;						
			z-index: 1;
			width: 450px;
			height: 55px;
			top: 280px;
			right: -190px;
			border-radius: 5px;
			transform: rotate(-90deg);
			opacity: 0;
			transition: 0.3s all;
			border-radius: 20px;
			overflow: hidden;
}
#soundOfSong:hover {
			opacity: 1;
			box-shadow: 0 0 6px 3px gray;
}
#sound {
			margin: auto;
			width: 100%;
			height: 55px;
			transform: rotate(0deg);
			-webkit-appearance: none;
			border-radius: 20px;
			background: transparent;
}
#sound::-webkit-slider-thumb {
			-webkit-appearance: none;
			height: 55px;
			width: 0;
			background: goldenrod;
			border-radius: 100%;
			box-shadow: -500px 0 0 500px goldenrod;
}
#soundValue {
			font-size: 20px;
			color: #fff;
			width: 10%;			
			margin: auto;
			margin-top: -46px;
			font-weight: bolder;
			font-family: times new roman;
			transform: rotate(90deg);
			background: #006060;
			text-align: center;
			border-radius: 20px;
			padding: 5px;
}

#lorem {
			display: none;
			padding: 10px 40px;
			max-width: 400px;
			color: #fff;
			word-break: break-all;
			font-family: courier new;
			margin: auto;
}
#lorem h1 {
			font-family: cursive; 
			margin-bottom: 10px;
}
#lorem p {
			font-size: 18px;
			color: #000;
			margin-top: 10px;
}
#lorem p:nth-child(2n-1) {
			color: #e8e8e8;
}
#lorem p:nth-child(2n) {
			color: #b60025;
}
